- job_type ||= JobType.first
- price = 0.0
.card.card-underline.payment-rates
  .card-head
    %header.text-lg
      Payment Rates
  .card-body
    .col-md-12
      - if job_type.payment_method_ids.include? "3"
        = render partial: "users/edit/rates/salary", locals: {f: f}
      - if job_type.payment_method_ids.include? "5"
        = render partial: "users/edit/rates/on_call", locals: {f: f}
      - if job_type.payment_method_ids.include? "2"
        = render partial: "users/edit/rates/hours", locals: {f: f, job_type: job_type}
      - if job_type.payment_method_ids.include? "1"
        = render partial: "users/edit/rates/reimbursments", locals: {f: f,job_type: job_type}
        = render partial: "users/edit/rates/visits", locals: {f: f,job_type: job_type}
