= form_tag report_url, :method => 'get' do
  .card.card-underline
    .card-head
      %header.text-lg.text-primary Filter
    .card-body
      .form-group
        = label_tag :from, nil, class: "col-sm-2 control-label"
        .col-sm-10
          #start-date.input-group.date-picker
            = text_field_tag :from, params[:from].strftime("%m-%d-%Y"), class: 'form-control'
      .form-group
        = label_tag :to, nil, class: "col-sm-2 control-label"
        .col-sm-10
          #end-date.input-group.date-picker
            = text_field_tag :to, params[:to].strftime("%m-%d-%Y"), class: 'form-control'
      .form-group
        = label_tag :filter_type, "Group By", class: "col-sm-2 control-label"
        .col-sm-10
          .input-group{style: 'width: 150px;'}
            = select_tag :filter_type, options_for_select([['Claim', 'Claim'], ['Insurance', 'Insurance']], :selected => params[:filter_type]), class: "form-control"
    .card-actionbar
      .card-actionbar-row
        .pull-right
          .form-group
            = submit_tag "Submit", name: nil, class: 'btn btn-primary'
