!!! XML
%Workbook{:xmlns => "urn:schemas-microsoft-com:office:spreadsheet", "xmlns:html" => "http://www.w3.org/TR/REC-html40", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:ss" => "urn:schemas-microsoft-com:office:spreadsheet", "xmlns:x" => "urn:schemas-microsoft-com:office:excel"}
  %Worksheet{"ss:Name" => "Bills"}
    - if !params[:export_summary] || params[:export_summary] == "false"
      %table
        %tr
          %td
            %data{"ss:Type" => "String"} ID
          %td
            %data{"ss:Type" => "String"} Start date
          %td
            %data{"ss:Type" => "String"} End date
          %td
            %data{"ss:Type" => "String"} Bill Type
          %td
            %data{"ss:Type" => "String"} Payor
          %td
            %data{"ss:Type" => "String"} Patient
          %td
            %data{"ss:Type" => "String"} Billed Amt.
          %td
            %data{"ss:Type" => "String"} Bill data

        - @queried_bills.each do |bill|
          %tr
            %td
              %data{"ss:Type" => "String"}= bill.id
            %td
              %data{"ss:Type" => "Number"}= bill.claim_start_date
            %td
              %data{"ss:Type" => "Number"}= bill.claim_end_date
            %td
              %data{"ss:Type" => "String"}= bill.claim_type.name
            %td
              %data{"ss:Type" => "String"}= bill.insurance_company.name
            %td
              %data{"ss:Type" => "String"}= bill.patient.display_name
            %td
              %data{"ss:Type" => "Number"}= bill.amount
            %td
              %data{"ss:Type" => "Number"}= bill.date
      %br
      %br
      %br

    - if !params[:export_summary] || params[:export_summary] == "true"
      %table
        %tr
          %td
            %data{"ss:Type" => "String"} Claim Type
          %td
            %data{"ss:Type" => "String"} Payor
          %td
            %data{"ss:Type" => "String"} Amount
          %td
            %data{"ss:Type" => "String"} Files No.
        - @bills.group_by{ |b| b[:claim_type] }.each do |claim, bills|
          %tr
            %td
              %data{"ss:Type" => "String"}= claim
            %td
            %td
              %data{"ss:Type" => "Number"}= number_to_currency @claim_types[claim][:amount]
            %td
              %data{"ss:Type" => "Number"}= @claim_types[claim][:count]
          - bills.each do |bill|
            %tr
              %td
              %td
                %data{"ss:Type" => "String"}= bill[:insurance]
              %td
                %data{"ss:Type" => "Number"}= number_to_currency bill[:amount]
              %td
                %data{"ss:Type" => "Number"}= bill[:count]
