%p#notice= notice

%p
  %b Document name:
  = @document_type.document_name
%p
  %b Job type:
  = @document_type.job_type_id

= link_to 'Edit', edit_document_type_path(@document_type)
\|
= link_to 'Back', document_types_path
