.form-horizontal
  .form-group
    = label @model,  :name, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :name, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :display_name, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :display_name, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :short_name, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :short_name, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :address, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :address, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :address2, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :address2, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :email, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :email, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group 
    = label @model,  :fax_service_username, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :fax_service_username, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :fax_service_account_id, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :fax_service_account_id, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :rate, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :rate, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :timezone, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :timezone, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :phone, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :phone, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :fax, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :fax, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :state, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :state, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :zipcode, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :zipcode, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :city, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model,  :city, class: 'form-control'
      .form-control-line
