- model_name = @model == 'job_type' ? 'discipline' : @model
.form-horizontal
  .form-group
    = label @model, :title, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model, :title, class: 'form-control'
      .form-control-line
.form-horizontal
  .form-group
    = label @model,  :price, class: "col-sm-1 control-label"
    .col-sm-11
      = text_field @model, :price, class: 'form-control numbers_only'
      .form-control-line
.form-horizontal
  .form-group
    = label @model, :department, class: "col-sm-1 control-label"
    .col-sm-11
      = select @model, :department_ids, options_from_collection_for_select(Department.all, :id, :name, @visit_type.department_ids), {:include_blank => true}, {multiple: true, class: "form-control"}
      .form-control-line
.form-horizontal
  .form-group
    = label @model, :job_type, class: "col-sm-1 control-label"
    .col-sm-11
      = select @model, :job_type_ids, options_from_collection_for_select(JobType.all, :id, :title, @visit_type.job_type_ids), {:include_blank => true}, {multiple: true, class: "form-control"}
      .form-control-line
.form-horizontal
  .form-group
    = label @model, :reimbursements, class: "col-sm-1 control-label"
    .col-sm-11
      = select @model, :reimbursement_ids, options_from_collection_for_select(Reimbursement.all, :id, :title, @visit_type.reimbursement_ids), {:include_blank => true}, {multiple: true, class: "form-control"}
      .form-control-line

- content_for :header_title do 
  #{model_name.humanize.capitalize} ##{@id}