/ = render "timesheets/show/shared/billsheet",visits: @pending_visits, hours: (@pending_hours)

= form_tag(update_task_state_path, method: :get, remote:true, id: "update_task") do 
  = hidden_field_tag :id, @timesheet.id
  = hidden_field_tag :state, 'visited'
  = hidden_field_tag :task_type, 'visit'
  - if visits 
    - visits.each do |v|
      = check_box_tag 'task_id[]',  v.id, false, class: "hidden" if submittable?(@timesheet)

.col-md-12
  - if visits
    = render "timesheets/show/submitted/owner/visits", visits: visits
 
  - if hours
    = render 'timesheets/show/submitted/owner/hours', hours: hours

  - if on_calls_line_items
    = render "timesheets/show/submitted/owner/on_call", on_calls_line_items: on_calls_line_items


  - if reimbursement_timesheets_line_items
    = render "timesheets/show/submitted/owner/reimbursements", reimbursement_timesheets_line_items: reimbursement_timesheets_line_items

  = render "timesheets/bonus"

#hour_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "simpleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#simpleModalLabel.modal-title Save changes
      .modal-body
        %p Do you want to save changes?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Save changes



#on_call_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "simpleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#simpleModalLabel.modal-title Save changes
      .modal-body
        %p Do you want to save changes?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Save changes
        
#reimbursement_timesheet_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "simpleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#simpleModalLabel.modal-title Save changes
      .modal-body
        %p Do you want to save changes?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Save changes




:javascript
  $(document).ready(function() {
    setup_visit_events();
    setup_card_collapse(); 
    $('#unbilled-visits-datatable').DataTable();
  });
