%td= state_badge on_call.progress_state
%td= on_call.date.strftime("%e, %b, %y")
%td= on_call.note
%td.text-right
  - if on_call.progress_state == "pending"
    = link_to  update_task_state_path(id: @timesheet.id, task_id: [on_call.id], state: 'logged', task_type: 'on_call'), class: "btn ink-reaction btn-icon-toggle btn-sm btn-primary" , :remote => true do 
      %i.fa.fa-remove
  %a.btn.btn-xs.ink-reaction.text-primary{class: ("pulse1" unless on_call.comments.empty?), href: "#offcanvas-oncall-#{on_call.id}-comments" , "data-toggle": "offcanvas", "data-backdrop": "false"}
    %i.fa.fa-comment
