- if user_forms_form.object.custom_form.permissions["#{ current_user.role.short_name }"][@action] == '1'
  %div{class: 'form-entity', id: "#{user_forms_form.object.custom_form.id}"}
    = user_forms_form.hidden_field :creator_user_id, value: user_forms_form.object.creator_user_id
    = user_forms_form.hidden_field :custom_form_id, value: user_forms_form.object.custom_form_id
    = user_forms_form.hidden_field :_destroy, value: false, class: 'destroy-field'
    = user_forms_form.hidden_field :row_order, class: 'row-order-field'
    .tools
      = link_to '', 'javascript:void', id: user_forms_form.object.custom_form.id, class: 'pull-right btn btn-floating-action ink-reaction btn-info btn-xs fa fa-times', onclick: "remove_form(this, '#{user_forms_form.object.id}')"
    - user_forms_form.object.custom_form.form_sections.each do |user_forms_section_form|
      = render 'custom_forms/form_data/edit/section', user_forms_section_form: user_forms_section_form, user_forms_form: user_forms_form
